* {
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

#container {
  min-height: 100vh;
}

/* Navbar */

#navbar-name {
  font-size: 36px;
  font-weight: 800;
  margin: 0 0.5%;
}

/* Home Page */
#home-page-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}

#home-page-banner-container img {
  width: 100%;
  margin-bottom: 0.5%;
}

#home-page-banner-button {
  margin: 0.75% 0;
}

#home-page-new-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0;
}

#home-page-new-products-container h3 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 10px;
}

#home-page-new-products {
  display: flex;
}

#home-page-press-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

#home-page-press-container h3 {
  font-weight: 800;
  font-size: 28px;
}

#home-page-press-container span {
  margin: 10px 0;
}

#home-page-press-container img {
  height: 50px;
  width: 150px;
  margin: 0 20px;
}

/* About Page */

#about-page-container,
#auth-container,
#cart-page-container,
#orders-page-container,
#user-info-page-container,
#edit-user-info-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  height: 60vh;
}

#about-page-container h1 {
  font-weight: 800;
  font-size: 30px;
}

#about-page-container p {
  font-size: 24px;
  font-weight: 400;
}

/* Cart Page */

#cart-page-container h2 {
  font-weight: 800;
  font-size: 30px;
}

/* Login/Signup */

#auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

#auth-container input {
  width: 180px;
  height: 30px;
}

#auth-container button {
  width: 250px;
  height: 40px;
  margin: 5% 0;
}

/* Footer */

#footer-container {
  display: flex;
  height: 15vh;
  margin-top: 1vh;
  background-color: #f8f8f8;
}

#footer-container h5 {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 5px;
}

#footer-left,
#footer-middle,
#footer-right {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}

#footer-left {
  align-items: center;
  width: 20vw;
}

#footer-middle {
  align-items: center;
  width: 20vw;
}

#footer-right {
  align-items: center;
  width: 60vw;
  margin: 3% 5%;
}

.link {
  font-size: 14px;
  font-weight: 400;
}

#icons {
  font-size: 24px;
}

#icons a {
  margin: 0 15px;
}

.cartSummaryDiscount {
  color: #3ea93e;
}

.promoModal {
  height: 164px;
  background-image: url('img/uglybanner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a41d21;
}
.promoModalCopy {
  color: #800000;
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 30px;
  font-weight: bolder;
  background-color: rgb(110, 218, 117);
}
